* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

header {
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    background: #f7c85c;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

nav a {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 12px;
    text-decoration: none;
    color: rgba(59, 24, 1, 0.853);
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    border-right: 2px solid black;
    transition: 0.2s;
}

nav a:last-child {
    border-right: none;
}

nav a:hover {
    background: #f5f5f5;
}

.nav-arrow {
    font-size: 11px;
    margin-left: 10px;
}

.hero {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #000;
    background: #2F6B3F
}

.hero h1 {
    font-size: 80px;
    color: #F5F5F5;
    font-weight: bold;
}

.arrow-left {
    left: 100px;
}

.arrow-right {
    right: 100px;
}

.timeline {
    width: 70%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.item {
    width: 100%;
}

.card {
    background: #F5F5F5;
    padding: 25px;
    border-left: 6px solid #2F6B3F;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin-bottom: 12px;
    color: #2F6B3F;
}

.card p {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.5;
}

.card span {
    font-size: 13px;
    color: #555;
}

footer {
    margin-top: 50px;
    background: #2F6B3F;
    color: #F5F5F5;
    padding: 20px;
    text-align: center;
}

footer h3 {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 20px;
}

footer ul {
    list-style: none; 
    margin: 15px auto; 
    width: fit-content; 
    text-align: left;
}

footer li {
    margin: 5px 0;
}